$icomoon-font-family: "common_font_icon" !default;
$icomoon-font-path: "../icons" !default;

$icon-shuzi1: "\e697";
$icon-shuzi3: "\e699";
$icon-wenhao: "\e61b";
$icon-gou: "\e650";
$icon-gouxuan: "\e63b";
$icon-close: "\e62a";
$icon-remove: "\e72d";
$icon-shuzi6: "\e627";
$icon-shuzi0: "\e625";
$icon-shuzi9: "\e62e";
$icon-shuzi2: "\e70a";
$icon-shuzi4: "\e70c";
$icon-shuzi5: "\e70d";
$icon-shuzi7: "\e70f";
$icon-shuzi8: "\e710";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";



